#
# /etc/siproxd.conf - siproxd configuration file
#
# !! This is a sample file, adapt it to your needs before using it
#

######################################################################
# The IP addresses of the INBOUND and OUTBOUND interface can
# be specified as hostnames or in dotted decimal form:
#
# host_inbound=foo.bar.org
#
#   or as dotted decimal IP:
#
# host_inbound=10.0.0.1
#
host_inbound  = 192.168.1.1
host_outbound = ries.homeip.net


######################################################################
# Port to listen for incomming SIP messages.
#    5060 is usually the correct choise - don't change is unless you
#    know what you're doing
#
sip_listen_port = 5060


######################################################################
# Shall we daemonize?
#
daemonize = 0

######################################################################
# Secure Enviroment settings:
#   user:	uid/gid to switch to after startup
#   chrootjail:	path to chroot to (chroot jail)
user = nobody
#chrootjail = /var/lib/siproxd/

######################################################################
# global switch to enable (1) or disable (0) the RTP proxy feature
#    
rtp_proxy_enable = 1

######################################################################
# Port range where to allocate listen ports for incomming RTP traffic
#    this should be a range that is not blocked by the firewall
#    
rtp_port_low  = 7070
rtp_port_high = 7080

######################################################################
# Timeout for RTP streams
#    after this number of seconds, an RTP stream is considered dead
#    and proxying it will be stopped.
#    
rtp_timeout = 60

######################################################################
#  DBCLASS_BABBLE  0x00000001	   // babble (like entering/leaving fnc)
#  DBCLASS_NET     0x00000002	   // network
#  DBCLASS_SIP     0x00000004	   // SIP manipulations
#  DBCLASS_REG     0x00000008	   // Client registration
#  DBCLASS_NOSPEC  0x00000010	   // non specified class
#  DBCLASS_PROXY   0x00000020	   // proxy
#  DBCLASS_DNS     0x00000040	   // DNS stuff
#  DBCLASS_NETTRAF 0x00000080	   // network traffic
#  DBCLASS_CONFIG  0x00000100	   // configuration
#  DBCLASS_RTP     0x00000200      // RTP proxy
#
debug_level =      0x00000318

